.formulario {
    width: 300px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bd09b7, #6b4cf5);
    min-height: 300px;
    color: white;
    padding: 20px;
}

.input {
    padding: 7px;
    width: 100%;
}

input{box-sizing:border-box} 

button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    position: absolute;
    right: 0;
    width: 100px;
}

.container {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    min-height: 25px;
}
